.opensans{
	font-family:'Open Sans'
}

.oswald{
	font-family:'Oswald'
}

.droidsans{
	font-family:'Droid Sans'
}

.lato{
	font-family:'Lato'
}

.opensanscl{
	font-family:'Open Sans Condensed'
}

.kite{
	font-family:'Kite One'
}

.ptsans{
	font-family:'PT Sans'
}

.droidserif{
	font-family:'Droid Serif'
}

.ptsansn{
	font-family:'PT Sans Narrow'
}

.ubuntu{
	font-family:'Ubuntu'
}

.yanone{
	font-family:'Yanone Kaffeesatz'
}

.robotoc{
	font-family:'Roboto Condensed'
}

.sourcesans{
	font-family:'Source Sans Pro'
}

.titillium{
	font-family:'Titillium Web'
}